
/* fonts here*/

@font-face {
    font-family: 'Cocogoose';
    src: url('../fonts/Cocogoose-Light.woff2') format('woff2'),
    url('../fonts/Cocogoose-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'COCOGOOSE';
    src: url('../fonts/COCOGOOSE-DemiBold.woff2') format('woff2'),
    url('../fonts/COCOGOOSE-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Narrow Trial';
    src: url('../fonts/CocogooseNarrowTrial-Light.woff2') format('woff2'),
    url('../fonts/CocogooseNarrowTrial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Komika Title';
    src: url('../fonts/KomikaTitle.woff2') format('woff2'),
    url('../fonts/KomikaTitle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Compressed Trial';
    src: url('../fonts/CocogooseCompressedTrial-UltraL.woff2') format('woff2'),
    url('../fonts/CocogooseCompressedTrial-UltraL.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
/* index page css here*/
body{font-family:Lato !important; }
/* header section css here*/
.banner-section{display:block;}
.carousel-item {
    height: 88vh;min-height: 300px;background: no-repeat center center scroll;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;
}
.container2{position: absolute;width: 100%;top:18%;}
.header-menu .navbar{padding:0;}
.header-menu .custom-navbar li{padding-left:25px;}
.header-menu .custom-navbar li a{text-transform: uppercase;color:#572365 !important; font-size: 16px;font-family:Lato; font-weight: 600;}
.cstm-padd{padding: 40px 80px 0 40px;}
.cstm-caption{top:30%;}
#carousel-mobile{display:none;}
#carousel-tab{display:none;}
.header-menu .custom-navbar li .inquire-btn{color: #fff !important;background: #572365;}
.header-order-form .frb-group .frb-radio label{height:80px !important;padding: 25px 0;}
.view-detail{background: #572365;color: #fff;padding:15px 40px;border-radius: 25px;text-transform: uppercase;font-size: 16px;}
.view-detail:hover{text-decoration: none;color:#fff;}
.order-buttons{background: #572365;color: #fff !important;padding:15px 30px;text-transform: uppercase;margin-right: 20px;}
.order-buttons:hover{text-decoration:none;color:#fff !important;}
.cstm-modal-content{padding: 0;background: none;border: 0;}
.order-section{background:#ececec;border-radius: 10px;}
.order-track-section h1{font-size: 22px;color:#572365;padding: 10px; text-align:center;margin-bottom:0;border-bottom:2px solid #fff;font-family: Cocogoose Narrow Trial;}
.order-track-section{background:#ececec;border-radius: 10px;margin-top: 20px;}
.order-track-section ul{list-style: none;padding:20px; text-align: center;}
.order-track-section ul li, .order-track-section ul li a{color:#572365;}
.order-section h1{font-size: 22px;color:#572365;padding: 10px; text-align:center;margin-bottom:0;border-bottom:2px solid #fff;font-family: Cocogoose Narrow Trial;}
.order-form{padding:0 20px 10px 20px;}
.order-form .form-group {margin-bottom: 5px !important;}
.order-form .form-group .form-label{font-size: 14px; color:#572365;font-family:Cocogoose;margin-bottom:5px; }
.order-form .form-group .cstm-control{height:30px;border-radius: 20px;}
.order-form .order-btn{background:#572365;color:#fff;padding: 2px 40px;border-radius: 25px;text-transform: uppercase;}
.order-form .order-submit, .order-form .btn-proceed{background:#572365;color:#fff;padding: 2px 50px;border-radius: 25px;text-transform: uppercase;}
/* service section css here*/
.service-section{padding:40px 0;background: url(../images/inner-bg.jpg)  no-repeat;background-size: cover;}
.service-section h1{color:#fff;text-transform: uppercase;font-size:30px;;font-family: Cocogoose;padding-top: 15px;}
.service-section p{color:#fff;font-size: 16px;}
.service-section .learn-more {margin-top:100px;}
.service-section .learn-more a{background:#fff;color:#572365;padding: 15px 50px;text-transform: uppercase;font-family:Lato;font-weight:bold;}
.service-section .learn-more a:hover{text-decoration: none;}
/* stitch section css here*/
.stitch-section{padding:40px 0;}
.web-hide{display:none;}
.tags-img{width:50%;}
.stitch-section .article-avatar .right-arrow{position: absolute;top:35%;left:0;}
.stitch-section .article-avatar .left-arrow{position: absolute;top:35%; right:0;}
.stitch-section .article-avatar .article-heading{position: absolute;top: 45%;text-align: center;display: block;width: 100%;}
.stitch-section .article-avatar .article-heading h2{color:#fff;}
.stitch-section .article-avatar .article-heading .party-wear{color:#fff;position: absolute;top: 45%;font-size:60px;left:25%;}
.stitch-section .article-avatar .article-heading .wedding-wear{color:#fff;position: absolute;top: 45%;font-size:60px;left:5%;}
.stitch-section .article-avatar{position:relative;}
.stitch-section .article-categories{background:#d8d8d8;padding:99.5px 30px;}
.article-categories .article-category-title{margin-bottom:30px; }
.article-categories .article-category-title h3{font-family: Cocogoose Narrow Trial;font-size:40px;color:#3a3a3a;margin-bottom:20px;text-transform:capitalize;}
.stitch-section h2{color:#000;text-transform: capitalize;font-size:40px;margin-bottom: 40px;font-family: Cocogoose Narrow Trial;}
.stitch-section .grey-bg{background:#ebebeb;padding: 20px 0;border-radius: 15px;}
/*.stitch-section .article-categories h3{margin-bottom:0;font-family:Cocogoose;margin-top: 10px;margin-bottom:20px;}*/
.stitch-section .article-categories .starting-price{background:#572365;color:#fff;font-size:10px;margin-left: -5px;padding: 5px;}
.stitch-section .article-categories i{position: absolute;top: 14%;color:#572365;margin-left: -5px;}
.stitch-section .article-categories .tags ul{list-style: none;display:inline-flex;padding:20px 0 !important;margin-bottom: 0;font-family:Cocogoose;}
.stitch-section .article-categories .tags ul li a{color:#3a3a3a;font-size:12px;line-height: 40px;}
.stitch-section .article-categories .tags ul li:last-child a{color:#af1b7d;}
.stitch-section .article-categories .tags ul li a:hover{text-decoration:none;color:#af1b7d;}
.stitch-section .article-categories .tags ul li span{padding:0 5px;}
.how-we-work-main{padding:40px 0;}
.how-we-work-main h1{color: #000;text-transform: capitalize;font-size: 40px;margin-bottom: 40px;font-family: Cocogoose Narrow Trial;}
.how-we-work-heading h4{background:#572365;color: #fff;display: inline-block;padding: 10px 20px;}
/* gallery section css here*/
.gallery-section{padding:40px 0; background:#f6f6f6;}
.gallery-section .gellery-section-heading{margin-bottom: 50px;}
.gallery-section .gellery-section-heading h2{font-size:40px;font-family: Cocogoose Narrow Trial;}
.gallery-section .gellery-section-heading p{font-family: Cocogoose Narrow Trial;font-size:14px;}
.gallery-section .gallery-heading{font-size: 15px;color: #fff;left:0;position: absolute;top:0;right:0;border-radius: 15px 15px 0 0;
    padding: 5px;opacity: 0.9;background: #572365;cursor: pointer;}
.gallery-section .gallery-heading a{font-size: 11px;font-family: Cocogoose;color:#fff;}
.gallery-section .gallery-avatar{position: relative;}
.gallery-section .gallery-avatar img{border-radius: 15px;}
.gallery-section .gallery-heading a:hover{text-decoration: none;}
.gallery-section .main-avatar img{height:560px;}
.gallery-section .view-more-btn{background: #572365;color: #fff;padding:5px 20px;border-radius: 25px;text-transform: uppercase;font-size: 13px;}
.gallery-section .view-more-btn:hover{text-decoration: none;}
.gallery-section .view-more{margin-top: 30px;}
.tz-gallery{padding:30px 0;}
.padd-rl-5{padding: 0 5px;}
.margin-auto{margin:0 auto;}
.padd-5{padding:0 5px 10px 5px;}
.chosen-select{width:100%;height:40px;}
.back-btn{background: #572365;margin-bottom:30px;width: 100px;padding: 7px 10px;color: #fff;text-transform: uppercase;font-weight: 400;font-size: 16px;display: block;cursor: pointer;}
.back-btn:hover{text-decoration:none;color:#fff;}
.back-btn:focus{box-shadow: none;}
/* news section css here*/
.news-section{padding:40px 0;}
.news-section .new-section-heading{margin-bottom: 50px;}
.news-section .new-section-heading h2{font-size:40px;font-family: Cocogoose Narrow Trial;}
.news-section .new-section-heading p{font-family: Cocogoose Narrow Trial;font-size:14px;}
.news-section .news-content .news-heading h2, .news-section .news-content .news-heading h2 a{font-size:18px !important;color:#757881;margin-bottom:0;font-family:Lato;}
.news-section .news-content .news-heading h2 a:hover{text-decoration: none;}
/*.news-section .news-content .news-tags span{font-size:14px;color:#757881;}*/
.news-section .news-content .news-description{font-size: 15px;font-family:Lato;}
.news-tags span{font-size:14px;color:#757881;}
/* testimonial section css here*/
.testimonial-section{padding:40px 0 70px 0;}
.testimonial-section .testimonial-section-heading{margin-bottom: 50px;}
.testimonial-section .testimonial-section-heading h2{font-size:40px;font-family: Cocogoose Narrow Trial;}
.testimonial-section .testimonial-section-heading p{font-family: Cocogoose Narrow Trial;font-size:14px;}
.testimonial{ margin: 0 15px;}
.testimonial .content{padding: 30px;border-radius:6px;margin-bottom: 15px;position: relative;background:#fff;min-height: 100px;
    border: 1px solid #f9f9f9;box-shadow: 0 2px 15px -1px rgba(0,0,0,.2);}
.testimonial .content:after{content: "";border-top: 10px solid #fff;border-left: 10px solid transparent;border-right: 9px solid transparent;
    position: absolute;bottom: -8px;left: 16%;}
#testimonial-slider div.owl-item:nth-child(2n) .content:after{content: "";border-top: 10px solid #fff;border-left: 10px solid transparent;
    border-right: 9px solid transparent;position: absolute;bottom: -8px;left: 16%;}
#testimonial-slider div.owl-item:nth-child(3n+1) .content:after{content: "";border-top: 10px solid #fff;border-left: 10px solid transparent;
    border-right: 9px solid transparent;position: absolute;bottom: -8px;left: 16%;}
.testimonial .description{margin-bottom: 10px;color:#6b6e78;text-align: justify;height:140px;}
.testimonial-pic{float:left;}
.testimonial-pic > img{width: 80px;height: 80px;border-radius: 50%;border: 2px solid #e5e5e5;margin-left: 20px;}
.testimonial .testimonial-review{margin:3px 0 0 15px;float: left;}
.testimonial .testimonial-title{font-size:16px;text-transform:capitalize;font-weight: bold;margin:0;color:#9c9ea5;}
.testimonial > .testimonial-review span{color: darkgray;display: block;font-size: 13px;margin-bottom:5px;}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{background: #572365;
}
.owl-theme .owl-controls .owl-page span{background: #333;opacity: 1;}
.owl-theme .owl-controls .owl-page span{width: 10px;height:10px;margin: 5px 6px;}
.owl-theme .owl-controls{position: absolute;top:20%;width: 100%;}
.owl-theme .owl-controls .owl-buttons div{background: #fff !important;border:2px solid #572365;}
.owl-theme .owl-controls .owl-pagination{    position: relative;bottom: 35%;top: 210px;}
.owl-prev, .owl-next{width: 36px;height: 36px;line-height: 26px;}
.owl-prev:before, .owl-next:before{content: "\f053";font-family: "Font Awesome 5 Free"; font-weight: 900;color:#572365;font-size: 20px;}
.owl-next:before{content: "\f054";}
.owl-theme .owl-controls .owl-prev{position: absolute;left:-4%;top: 0;}
.owl-theme .owl-controls .owl-next{position: absolute;right:0;right: -4%;top: 0;}
/* footer section css here*/
.footer-section{padding:40px 0;background: url(../images/footer-image.jpg)  no-repeat;background-size: cover;background-position: 60% 50%;}
.footer-pl{padding-left:40px;}
.footer-pl2{padding-left:80px;}
.footer-content h2 {color: #fff;font-size: 21px;text-transform: uppercase;}
.footer-content p {color:#fff;}
.underline {border-bottom: 1px solid #fff;width: 280px;}
.footer-content ul {list-style: none;padding: 0;}
.footer-content ul li {color: #fff;font-size: 14px;margin-bottom: 10px;}
.link ul li a {color: #fff;font-size: 14px;text-decoration: none;}
.blog-description a{color:#000;}
.recent-blog a{color:#000;font-size:18px;}
.blog-description a, .recent-blog a:hover{text-decoration: none;}
.blog-description .social-media-icons ul {list-style: none;text-align: right;padding: 0;}
.social-media-icons ul {list-style: none;text-align: left;padding: 0;}
.blog-description .social-media-icons ul li {display: inline-block;background: #572365;color: #fff;height: 40px;width: 40px;text-align: center;
    border-radius: 50%;margin-right: 12px;border:1px solid #fff;}
.social-media-icons ul li {display: inline-block;background: #572365;color: #fff;height: 40px;width: 40px;text-align: center;
    border-radius: 50%;margin-right: 12px;border:1px solid #fff;}
.social-media-icons ul li a {color: #fff;font-size: 20px;display:block;padding:4px;}
.blog-description .social-media-icons ul li a {color: #fff;font-size: 20px;display:block;padding:4px;}
.copyright-section{background: #572365;padding: 10px 0;border-top: 2px solid #fff;}
.copyright-section p{margin:0 !important;color:#fff;font-size:14px;}
/* order tracking page css here*/

/* order tracking header section css here*/
.order-track-header-section{background:#ebebeb;}
.dtp_modal-content {z-index: 2000 !important;width:500px !important;}
.dtp_main{border-radius: 25px !important;}
.dtp_modal-time-block{width:200px !important;}
.dtp_modal-append,.dtp_modal-digits {padding-left: 48px !important;}
.dtp_modal-digits{font-size: 30px !important;}
.dtp_modal-digits{width:200px !important;}
.dtp_modal-cell-time{width:200px !important;border:0 !important;}
.dtp_modal-cell-date{width:300px !important;float: left !important;}
/* order tracking section page css here*/
.order-track-detail-section{padding:50px 0;background:#ebebeb;}
.profile .media-body{padding-top:30px;}
.profile .media-body .media-heading{color:#572365;font-size:28px;text-transform:uppercase;}
.profile .media-body a{color:#572365;font-weight: bold;}
div.order-track-detail{background-color: #f7f7f7;/*padding: 0 0 20px 0;*/border-radius: 15px;margin: 40px 0;}
.margin-auto{margin:0 auto;}
.call-to-us, .create-new{padding-top:30px;margin-right:40px;margin-bottom: 10px;}
.call-to-us a{background: #d74691;color:#fff;font-size: 24px;padding: 5px 30px;border-radius: 40px;text-transform: uppercase;}
.create-new a{background: #572365; color: #fff;font-size: 20px;  padding: 5px 15px; border-radius: 5px;  text-transform: capitalize;  float: right;  margin: 0 0 10px 0; }
.create-new a:hover{text-decoration: none;color:#fff;}
.call-to-us a:hover{text-decoration: none;color:#fff;}
.order-track-detail-section .order-track-info{background:#fff;padding: 20px;border-radius: 25px;border: 1px solid #ededed;
    box-shadow: 0 2px 15px -1px rgba(0,0,0,.2);margin-bottom: 50px;}
.order-track-detail-section .order-track-info .track-order{  background: #572365;  padding: 7px 10px;  border-radius: 25px;  color: #fff;  text-transform: uppercase;  font-weight: 400;  font-size: 12px;  display: block;  margin-bottom: 5px; cursor:pointer; }
.order-track-detail-section .order-track-info .track-order:hover{text-decoration: none;color:#fff;}
.order-track-section .close{padding-right:10px;padding-top:5px;}
/*.order-track-detail-section .order-track-detail{padding-top:30px;}*/
.order-card{margin-bottom:20px;}
.order-card .card-body{padding:0;}
.order-card .order-info{padding:30px 0 !important;background: #f8f8f8;}
.order-card .order-btn-block{background: #efeff1;padding: 10px 0;}
.order-card .order-btn-block .btn{padding: 10px 25px; color:#fff;background:#572365;}
.order-track-detail-section .order-track-info .track-order-date{color:#545454;font-family: Lato;font-size:16px;}
.order-track-detail .track-order-name, .order-track-detail .track-order-price{color:#545454;font-family: Lato;font-size:16px;font-weight: 600;}
.order-track-detail .track-order-author-name{color:#818181;;font-family: Lato;font-size:16px;}
.order-track-detail .track-order-status-heading{color:#818181;font-family: Lato;font-size:16px;}
.order-track-detail .In-process{color:#be177c;font-family: Lato;font-size:16px;font-weight: 600;}
.order-track-detail .delivery-status{color:#818181;;font-family: Lato;font-size:16px;}
.order-track-detail .dilevred{color:#572365;font-family: Lato;font-size:16px;font-weight: 600;}
.order-track-detail .delivery-date{font-size:16px;font-weight: bold;color:#545454;}
.order-track-detail-section .order-heading p{padding-left:60px;color:#545454;font-family: Lato; font-size: 40px; font-weight: 300;}
.order-track-detail-section .order-heading p .order-note{color:#545454;font-size:17px;display: inline-block;line-height: 20px;
    font-weight: 300;withh:300px;}
/* order submission page css here*/
.order-track-info .order-message h2{color: #572365;font-size:25px; font-family:Cocogoose;font-weight: 600;}
.order-track-info .order-message p{color: #545454;font-size:14px; font-family:Cocogoose;padding-left: 60px;font-weight: 300;}
.order-track-detail-section .order-detail{padding-top:30px;}
.order-detail .order-info p{color:#545454;font-size: 18px; font-family:Lato;font-weight: 600;}
.order-detail .order-info span{color:#818181;font-size:18px; font-family:Lato;font-weight:normal;}
.order-detail .order-shipping-address p{color:#545454;font-size: 18px; font-family:Lato;font-weight: 500;}
.order-detail .order-shipping-address span{color:#545454;font-size:18px;font-family: Lato;font-weight: 400;}
.wizard {  margin: 20px auto; padding: 5px;  border-radius: 10px;  }
.form-control:focus{border-color:#ced4da !important;box-shadow: none;}
.wizard .nav-tabs {position: relative;margin: 40px auto;margin-bottom: 0;border-bottom-color: #e0e0e0;}
.wizard > div.wizard-inner {position: relative;text-align: center;}
.connecting-line {height: 3px;background: #e0e0e0;position: absolute;width:80%;margin: 0 auto;left: 0;right:5%;top: 18%;
    z-index: 1;}
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;cursor: default;border: 0;border-bottom-color: transparent;}
span.round-tab {width: 30px;height: 30px;line-height: 27px;display: inline-block;border-radius: 100px;background: #fff;
    border: 2px solid #e0e0e0;z-index: 2;position: relative;left: 0;text-align: center;font-size: 20px;}
span.round-tab i{color:#555555;}
.wizard .cstm-tabs{border-bottom: 0 !important}
.wizard li.active span.round-tab {background: #44ac01 !important;border: 2px solid #44ac01 !important;margin: 0 0 6px;}
.wizard li p{color: #818181;font-size: 14px;font-family: Lato;font-weight: normal;margin-left:-10px;}
.wizard li.active p{color: #545454;font-size: 16px;font-family: Lato;font-weight: 600;}
.wizard li.active span.round-tab i{color: #fff;}
.wizard .nav-tabs > li {width:16%;}
.wizard .nav-tabs > li a {width: 40px;height: 40px;margin: 20px auto;border-radius: 100%;padding: 0;}
.wizard .nav-tabs > li a:hover {background: transparent;}
.wizard .tab-pane { position: relative;padding-top: 50px;}
.wizard h3 {margin-top: 0;}
.chosen-container{width:100% !important;}
.chosen-container-single .chosen-single{height: 40px !important;}
.chosen-container-single .chosen-single span{line-height: 40px !important;}
/* order step form page css here*/
.order-track-info .order-step-form label{font-size: 17px; color:#572365;font-family:Cocogoose; }
.order-track-info .order-step-form h1{font-size: 35px;color:#572365;padding: 20px;border-bottom:2px solid #fff;font-family: Cocogoose Narrow Trial;}
.order-track-info .order-step-form h2{font-size: 25px;color:#572365;padding: 20px 20px 20px 0;border-bottom:2px solid #fff;font-family: Cocogoose Narrow Trial;}
.order-track-info .order-step-form .order-btn{background: #572365;color: #fff;padding: 2px 50px;border-radius: 25px;text-transform: uppercase;margin-top:10px;}
.order-track-info .order-track-section {background: #ececec;border-radius: 10px;margin-top: 20px;}
.order-track-info .order-track-section h1 {font-size: 22px;color: #572365;padding: 20px;border-bottom: 2px solid #fff;font-family: Cocogoose Narrow Trial;}
.order-track-info .order-form {padding: 0 20px 20px 20px;}
.order-track-info .modal-content{padding: 0;background: none;border: 0;}
.measurements-block {display: none;border: 2px solid #572365;padding: 20px;border-radius: 10px; margin: 20px 0;}
.old-measurements{padding: 40px 30px; margin: 20px 0;box-shadow:0 3px 10px rgba(0,0,0,.2);}
.old-measurements .table-bordered td, .old-measurements .table-bordered th{border: 1px solid #572365 !important;padding: 15px 10px;}
.frb-group {margin: 15px 0;}
.frb ~ .frb {margin-top: 15px;}
.frb input[type="radio"]:empty{display: none;}
.frb input[type="radio"] ~ label{ position: relative;cursor: pointer;width: 100%;border: 1px solid #ccc;border-radius: 5px;background: #fff;background: linear-gradient(#fff, #dcdbdb);padding: 20px;height: 160px;}
.frb input[type="radio"] ~ label:focus,
.frb input[type="radio"] ~ label:hover,
.frb input[type="radio"]:checked ~ label {background: #f161ad;border: 1px solid #5b2667;background: linear-gradient(#f161ad, #5b2667);box-shadow: 0px 5px 3px #42184e;}
.frb input[type="radio"]:empty ~ label span {display: inline-block;}
.frb input[type="radio"]:empty ~ label span.frb-title {font-size: 16px;font-weight: 700;padding-bottom: 20px;color: #3d3d3d;/*margin: 5px 5px 5px 50px;*/}
.frb input[type="radio"] ~ label:focus span.frb-title,
.frb input[type="radio"] ~ label:hover span.frb-title,
.frb input[type="radio"]:checked ~ label span.frb-title{color: #fff;/*margin: 5px 5px 5px 50px;*/}
.frb input[type="radio"] ~ label:focus span.frb-description,
.frb input[type="radio"] ~ label:hover span.frb-description,
.frb input[type="radio"]:checked ~ label span.frb-description{color: #fff !important;/*margin: 5px 5px 5px 50px;*/}
.frb input[type="radio"]:empty ~ label span.frb-description{font-weight: normal;/*font-style: italic;*/color: #3d3d3d;/*margin: 5px 5px 5px 50px;*/font-size: 14px;text-align: center;}
@keyframes click-wave {
    0% {height: 40px;width: 40px;opacity: 0.35;position: relative;}
    100% {height: 100px;width: 100px;margin-left: -40px;margin-top: -40px;opacity: 0;}
}
.option-input {-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;appearance: none;position: relative;
    top: 0;right: 0;bottom: 0;left: 10px;height: 30px;width: 30px;transition: all 0.15s ease-out 0s;background: #cbd1d8;border: none;
    color: #fff;cursor: pointer;display: inline-block;margin-right: 0.5rem;outline: none;position: relative;z-index: 1000;
}
.option-input:hover {background: #572365;}
.option-input:checked {background: #572365;}
.option-input:checked::before {height: 30px;width: 30px;position: absolute;content: '✔';display: inline-block;font-size: 22px;text-align: center;line-height: 30px;}
.option-input:checked::after {-webkit-animation: click-wave 0.65s;-moz-animation: click-wave 0.65s;animation: click-wave 0.65s;background: #572365;content: '';display: block;position: relative;z-index: 100;}
.option-input.radio {border-radius: 50%;}
.option-input.radio::after {border-radius: 50%;}
/* About Page  css here*/
.inner-banner-section .carousel-caption h1{font-size:45px;color:#fff;font-family:Cocogoose Narrow Trial;}
.inner-banner-section .carousel-caption .breadcrumb{display: inline-flex;color:#fff;padding:0 15px;background: none;}
.inner-banner-section .carousel-caption .breadcrumb li, .inner-banner-section .carousel-caption .breadcrumb li a{color:#fff;font-family:Lato;font-style: italic;font-size:16px;}
.inner-banner-section .carousel-caption .breadcrumb li a:hover{text-decoration:none;}
.breadcrumb-item .breadcrumb-item::before{color:#fff !important;}
.about-us-section{padding:40px 0; background: url("../img/about-background.jpg")no-repeat; }
.about-us-section .about-description{padding:20px 10px;color:#818181;font-family: Lato; }
.about-us-section .about-thumbnail{margin-bottom:40px;}
/* How We Work Page  css here*/
.how-we-work-section{padding:40px 0;}
.how-we-work-section{}
.how-we-work-section p{padding:0 20px;color: #818181;font-family: Lato;font-size: 16px;}
.bold{font-weight: bold;}
/* FAQ Page  css here*/
#show{margin-top: 20px;}
.btn-cancel{background: #545454;color: #fff !important;padding: 2px 25px;border-radius: 25px;text-transform: uppercase;}
.resend-otp{background: #572365;color: #fff !important;padding: 2px 25px;border-radius: 25px;text-transform: uppercase;}
.submit-order-detail .order-form .order-btn {background: #572365;color: #fff;padding: 2px 50px;border-radius: 25px;text-transform: uppercase;}
.submit-order-detail .new-measurements h2 {font-size: 25px;color: #572365;padding: 20px;border-bottom: 2px solid #fff;font-family: Cocogoose Narrow Trial;}
.submit-order-detail .new-measurements {border: 2px solid #572365;padding: 20px;border-radius: 10px; margin: 20px 0;}
.submit-order-detail .new-measurements label {font-size: 16px;color: #572365;font-family: Cocogoose;width:100%;background:none;}
.submit-order-detail .new-measurements .form-group .cstm-control {height: 30px;border-radius: 20px;}
.submit-order-detail .new-measurements .new-measurement-submit{ background: #572365;color: #fff;padding: 2px 50px;border-radius: 25px;text-transform: uppercase;}
.submit-order-detail .measurement-section h2{font-size:30px;color:#572365;font-weight: bold;}
.padd-20{padding:20px 0;}
.submit-order-detail .form-group span{text-align:center;width:60%;display: inline-block; font-size: 15px; font-family: Lato;background:#e7e7e7;color:#545454;padding: 9px 20px;}
.submit-order-detail .form-group label {font-size: 14px;background: #572365;color:#fff;font-family: Cocogoose;padding: 10px 15px;width: 35%;}
.submit-order-detail .measurement-section .form-group .cstm-label {width:100% !important;}
.submit-order-detail .measurement-section .form-group label{ font-size: 15px;color: #572365;background: none;font-family: Cocogoose;padding: 0 !important;width: 45% !important;}
.submit-order-detail .measurement-section .form-group span{font-size: 16px;font-family: Lato;color: #545454 !important;background: none !important;padding: 0 !important;width: 160px !important;}
#order-detail{display:none;}
/*shirt gallery css here*/
.single-gallery-section{padding: 40px 0;}
.single-gallery-section .gallery-title h3{font-size:40px;font-family: Cocogoose Narrow Trial;color:#3a3a3a;}
.single-gallery-section .heading-underline{border-bottom: 3px solid #3a3a3a;width:30px;text-align: center;display: inline-block;position: absolute;right: 52%;}
.gallery-description, .blog-description{text-align:center;margin-top:20px;border-radius:5px;border: 1px solid #f9f9f9;box-shadow: 0 2px 15px -1px rgba(0,0,0,.2);padding: 20px;}
/*.blog-description .MsoListParagraphCxSpFirst span:first-child, .blog-description .MsoListParagraphCxSpMiddle span:first-child, .blog-description .MsoListParagraph span:first-child{display: none;}*/
.blog-description .MsoListParagraphCxSpFirst, .blog-description .MsoListParagraphCxSpMiddle, .blog-description .MsoListParagraph {text-indent:0 !important;}

.single-gallery-section .gallery-items{padding-top: 40px;}
.single-gallery-section .gallery-items h5{font-size:25px;font-family: Cocogoose Narrow Trial;color:#3a3a3a;}
.single-gallery-section .gallery-items .card-text{font-family: Lato;font-size: 15px;height: 170px;text-align: justify;}
.single-gallery-section .gallery-items .view-btn{background: #572365; color: #fff;padding: 3px 20px;border-radius: 25px;}
.blog-description .view-btn, .news-description .view-btn{background: #572365; color: #fff;padding: 3px 10px;border-radius: 5px;float: left;}
.blog-description .view-btn, .news-description .view-btn:focus{box-shadow: none;}
.view-gallery{background: #572365;color: #fff;border-radius: 0;padding: 10px 50px;border:0;}
.view-gallery:hover{color:#fff;text-decoration: none;}
.single-gallery-section .gallery-items .view-btn:hover, .single-gallery-section .gallery-items .view-btn:focus{text-decoration: none;
    outline:none!important;box-shadow: none !important;}
.single-gallery-section .gallery-items .card .card-body{padding: 10px 0;}
.blog-description h2{color:#572365;text-transform: uppercase;}
.cstm-card{border:none !important;margin-bottom:10px;}
.cstm-card .card-img-top{border-radius: 25px!important;}
.order-form .form-group .error{font-size: 16px; color:#572365;font-family: Lato !important; }
/* contact page css here*/
.contact-section{padding:40px 0;}
.contact-section .contact-form-section{background:#ebebeb;padding: 30px;border-radius: 15px;}
.contact-description ul{list-style: none;padding:0;display:inline-flex;}
.contact-description ul li{padding-right: 10px;}
.contact-description ul li a{color:#000;}
.contact-description ul li a:hover{text-decoration: none;}
.left-inner-addon {position: relative;}
.left-inner-addon input{padding-left: 35px !important;}
.left-inner-addon-rrea textarea {padding-left: 35px !important;}
.left-inner-addon i {position: absolute !important;padding: 15px 12px !important;pointer-events: none !important;font-size: 18px !important;color:#545454 !important;}
.left-inner-addon-textarea i {position: absolute !important;padding: 10px 12px !important;pointer-events: none !important;font-size: 18px !important;color:#545454 !important;}
.left-inner-addon .cstm-input{height: 45px;border-radius: 0;border: 0;}
.left-inner-addon-textarea .cstm-textarea, .cstm-textarea{padding:5px 0 0 30px;height:150px !important; resize: none;border:0;border-radius: 0;}
.contact-form .contact-btn{background: #572365;color: #fff;border-radius: 0; padding: 10px 60px;}
.contact-form .contact-btn:focus{box-shadow: none;}
/* 404 page css here*/
.notfound-section{padding-top: 40px;}
#notfound {height: 60vh;}
/*#notfound .notfound {position: relative;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}*/
.notfound {width: 100%;text-align: center;}
/*.notfound .notfound-404 {height: 280px;position: relative;z-index: -1;}*/
.notfound .notfound-404 h1 {font-family: Lato !important;font-size: 160px;margin: 0px;font-weight: 900;color:#572365;}
.notfound h2 {font-family: Lato !important;color:#572365;font-size: 24px;font-weight: 700;text-transform: uppercase;margin-top: 0;}
.notfound p { font-family: Lato !important;color: #000;font-size: 14px;font-weight: 400;margin-bottom: 20px;margin-top: 0px;}
.notfound a {font-family: Lato !important;font-size: 14px;text-decoration: none;text-transform: uppercase;background: #572365;display: inline-block;padding: 15px 30px;border-radius: 40px;color: #fff;font-weight: 700;-webkit-box-shadow: 0px 4px 15px -5px #572365; box-shadow: 0px 4px 15px -5px #572365;}
.loader {display: inline-block;position: fixed;height: 100%;z-index: 5000;background-color: rgba(255,255,255,.5);width: 100%;}
.loader:after {content: " ";display: block;border-radius: 50%;width: 0;height: 0;position: absolute;margin: 6px;box-sizing: border-box;border: 50px solid #000;border-color: #000 transparent #000 transparent;animation: lds-hourglass 1.2s infinite;left: 48%;z-index: 1;top: 43%;}
@keyframes lds-hourglass {
    0% {transform: rotate(0);animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);}
    50% {transform: rotate(900deg);animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}
    100% {transform: rotate(1800deg);}
}
.page-item .page-link {color: #572365;}
.page-item.active .page-link {background-color: #572365;border-color: #572365;}
.content-center{display: table;margin: 0 auto;}
/* responsive css here*/
@media screen and (max-width:767px) {
    /*.banner-section{ display:block;padding:0;height:auto;background:none;}*/
    #carousel-mobile{display:block !important;}
    #carousel-slider{display:none;}
    .carousel-item{height:auto;}
    .tags-img{width:100%;}
    .header-menu .custom-navbar li .inquire-btn{color:#572365 !important; background: none;}
    .create-new{text-align: center}
    .how-we-work-heading h4{font-size:15px;}
    .order-section, .order-track-section { margin: 20px;}
    .tz-gallery img{width:100%;height:auto;}
    .img-mobile-hide{display:none;}
    .profile .media-body .media-heading{font-size:20px;}
    .profile .media .media-left img{width:90%;}
    /*#carousel-slider{display: none !important;}*/
    /*.container2{margin-top:0 !important;}*/
    .container2{position: relative !important;padding-bottom: 10px;}
    .stitch-section .article-avatar .right-arrow{display: none;}
    .stitch-section .article-avatar .left-arrow{display:none;}
    .call-to-us a{padding:5px 30px;}
    .order-track-detail-section .order-track-info .track-order{padding: 3px 15px;}
    .cstm-padd{padding:0 !important;}
    .service-section h1{font-size: 17px;line-height: 25px;}
    .service-section .learn-more{margin-top:20px !important;}
    .stitch-section h2{font-size: 30px !important;}
    .stitch-section .article-avatar .article-heading .wedding-wear{left:25%;}
    .stitch-section .grey-bg{margin-bottom:15px !important;}
    .news-section .new-section-heading h2{font-size:30px !important;}
    .news-thumbnail{margin-bottom:20px !important;}
    .submit-order-detail .measurement-section h2{font-size:26px;}
    .testimonial-section .testimonial-section-heading h2{font-size:30px !important;}
    .owl-prev, .owl-next{display:none !important;}
    .owl-theme .owl-controls .owl-pagination{display:none !important;}
    .footer-pl, .footer-pl2{padding-left:15px !important;}
    /*.desktop-hide{display:block; text-align: center;}*/
    .mobile-hide{display: none;}
    .web-hide{display:block;}
    .order-track-detail-section .order-track-info .track-order{text-align:center;}
    .cstm-card{height:auto;}
    .padd-20{padding:0;}
    .cstm-caption {top: 10%;left:0%;right:0%;}
    .stitch-section .grey-bg .tags{text-align: center;}
    .stitch-section .grey-bg .tags ul{padding:0;}
    .stitch-section .article-categories .tags ul{text-align: center; display: block !important;}
    .stitch-section .article-categories .tags ul li span{display:none !important;}
    .submit-order-detail .measurement-section .form-group span{width:40% !important;}
    .how-we-work-section p{padding:0 20px;}
    .about-us-section .about-description{padding:0 20px;}
    .header-section .cstm-padd{padding:0;}
    .order-track-detail-section .order-track-info .track-order-id{font-size: 14px;}
    .gallery-section .gallery-avatar{margin-bottom: 10px;}
    .gallery-section .main-avatar img{height:auto;margin: 10px 0;}
    .gallery-section .gallery-heading{border-radius:13px 13px 0 0;padding: 7px;width: 100%;}
    .footer-pl, .footer-pl2{padding-left: 0;}
    .underline{width:100%;}
    .order-track-detail-section .order-track-info{padding: 40px 10px;}
    .submit-order-detail .measurement-section h2{margin-top: 10px;}
    .order-track-detail h1{font-size:22px;}
    .notfound .notfound-404 {height: 142px;}
    .notfound .notfound-404 h1 {font-size: 100px;}
}
@media screen and (max-width:1320px){
    /*.container2{position: relative !important;}*/
}

@media (min-width:1200px) and (max-width:1320px){
    /*.banner-section{ display:block;padding:0 0 20px 0;height:auto; background-repeat:no-repeat;background-position: 100%; background-size: cover;border-bottom:3px solid #ececec;}*/
    /*#carousel-slider{display: none !important;}*/
    .container2{top:14%;}
    .carousel-item {height: 85vh;background: no-repeat center center scroll;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
}
@media (min-width:992px) and (max-width:1199px){
    .stitch-section .article-avatar .right-arrow{display: none;}
    .stitch-section .article-avatar .left-arrow{display:none;}
    .stitch-section .article-categories{padding: 54.5px;}
    /*.container2{top:10%;}*/
    .create-new a{font-size:20px;}
    .stitch-section .article-categories .tags ul li{font-size: 10px;}
    .stitch-section .article-avatar .article-heading h2{font-size:40px;}
    .stitch-section .article-avatar .article-heading .party-wear{font-size:40px;}
    .stitch-section .article-avatar .article-heading .wedding-wear{font-size:40px;left:18%;}
    /*.banner-section{ display:block;padding:0 0 20px 0;height:600px; background-repeat:no-repeat;background-position: 100%; background-size: cover;border-bottom:3px solid #ececec;}*/
    /*#carousel-slider{display: none !important;}*/
    /*.container2{position: relative !important;}*/
    .stitch-section .article-avatar .right-arrow{display: none;}
    .stitch-section .article-avatar .left-arrow{display:none;}
    .underline {border-bottom: 1px solid #fff;width: 100%;}
    .header-section .cstm-padd{padding:20px;}
    .submit-order-detail .measurement-section .form-group span{width:40% !important;}
    .header-menu .custom-navbar li {padding-left: 8px;}
    .single-gallery-section .gallery-items .card-text{height:250px !important;}
    .header-menu .custom-navbar li a{font-size:13px;}
    .custom-navbar{margin:0 !important;}
    .carousel-item {
        height: 70vh;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .cstm-padd {padding:20px;}
}
@media (min-width:992px) and (max-width:1050px){
    /*.carousel-item {*/
    /*height: 70vh;*/
    /*background: no-repeat center center scroll;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*}*/
}
@media (min-width:768px) and (max-width:992px)

{
    #carousel-tab{display:block !important;}
    #carousel-slider{display:none;}
    .stitch-section .article-avatar .right-arrow{display: none;}
    .stitch-section .article-avatar .left-arrow{display:none;}
    .stitch-section .article-categories .tags ul{padding: 0 !important;}
    .call-to-us a{font-size: 20px;padding:5px 30px;}
    .call-to-us, .create-new{margin:0;}
    .create-new a{font-size:17px;}
    .img-mobile-hide{display:none;}
    .header-menu .custom-navbar li .inquire-btn{color:#572365 !important; background: none;}
    .stitch-section .article-avatar .article-heading h2{left:25%;font-size:40px;}
    .stitch-section .article-avatar .article-heading .party-wear{left:20%;font-size:40px;}
    .stitch-section .article-avatar .article-heading .wedding-wear{font-size:40px;}
    .stitch-section .article-categories{padding: 34.5px;}
    .stitch-section .article-categories .tags ul li a{font-size: 10px;}
    .carousel-item {height: 50vh;background: no-repeat center center scroll;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
    /*.banner-section{ display:block;padding:0 0 20px 0;height:600px; background-repeat:no-repeat;background-position: 80%; background-size: cover;border-bottom:3px solid #ececec;}*/
    /*#carousel-slider{display: none !important;}*/
    .container2{top:12%;}
    .cstm-padd{padding:20px 0 0 20px;}
    .order-section h1{font-size:17px !important;}
    .submit-order-detail .measurement-section .form-group span{width:80px !important;}
    .wizard li p, .wizard li.active p{font-size:14px;}
    .header-section .cstm-padd{padding:0 20px;}
    .gallery-section .main-avatar img{height:auto;}
    .header-menu .custom-navbar{text-align: center;}
    .header-menu .custom-navbar li{padding-left: 6px;}
    .header-menu .custom-navbar li a{font-size: 14px;}
    .submit-order-detail .measurement-section .form-group span{width:40%;}
    .single-gallery-section .gallery-items .card-text{height:300px !important;}
    .d-md-block {display: none !important;}
    .single-gallery-section .gallery-items h5{font-size:19px;}
    .stitch-section .grey-bg .tags ul{padding: 0px 0 0 5px;}
    .footer-pl, .footer-pl2{padding-left: 0;}
    .underline{width:100%;}
}
@media (min-width: 576px) {
    .modal-sm { max-width: 450px;}
}
@media (max-width: 576px) {
    .gallery-section .gallery-heading {padding: 5px 0;}
    .mobile-hide{display:none;}
    .web-hide{display:block;}
    .order-form .order-submit, .order-form .btn-proceed, .btn-cancel{margin-bottom:10px;}
    .contact-description ul {display: block;}
    .cstm-caption {top: 0%;right:0%;left:0%;}
    .inner-banner-section .carousel-caption h1 {font-size: 20px;margin-bottom: 0;}
}
@media( max-width : 585px ) {
    .wizard {width: 90%;height: auto !important;}
    span.round-tab {font-size: 12px;width: 20px;height: 20px;line-height: 20px;}
    .wizard .nav-tabs > li a {width: 30px;height: 30px;line-height: 30px;}
    .connecting-line{top:20%;}
    .wizard li.active p, .wizard li p{font-size:8px;}
    .wizard li.active:after {content: " ";position: absolute;left: 35%;}
}

@media (max-width: 480px) {
    .order-track-detail .col-md-12 {padding: 0;}
    .blog-description .social-media-icons ul li{margin-right:0;}
}
